[Unit]
Description=Plasma Mobile Shell
After=graphical.target
Wants=graphical.target
Conflicts=emulationstation.service xfce.service waydroid-session.service kodi.service

[Service]
Type=simple
User=REPLACE_DEVICE_USER
Group=REPLACE_DEVICE_USER
PAMName=login

Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=XDG_SESSION_TYPE=wayland
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_CURRENT_DESKTOP=KDE
Environment=XDG_SESSION_DESKTOP=plasma-mobile
Environment=QT_QPA_PLATFORM=wayland
Environment=QT_WAYLAND_DISABLE_WINDOWDECORATION=1

ExecStart=/usr/bin/setperf -p balanced --oc off /usr/bin/dbus-run-session /usr/bin/startplasmamobile

Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical.target